{% extends "layout.html" %}
{% block title %}Edit a Scenario{% endblock %}
{% block content %}
{{ topbar | safe }}

<TABLE width=100%>
<H3><U>{{ form_data['msg_bar'] }}</U></H3>
<TABLE WIDTH=100%>
<TR><TD>
<FORM ID="mainForm" METHOD="POST">
<INPUT TYPE="hidden" NAME="scenario_id" VALUE="{{ form_data['scenario_id'] }}"/>
<INPUT TYPE="hidden" NAME="source_id" VALUE="{{ form_data['source_id'] }}"/>
<LABEL FOR="scenario_key">scenario_key: </LABEL>
<INPUT TYPE="text" NAME="scenario_key" READONLY SIZE=30 VALUE="{{ form_data['scenario_key'] }}"/><BR>
<LABEL FOR="source_name">Scenario source: </LABEL>
<INPUT TYPE="text" NAME="source_name" READONLY SIZE=30 VALUE="{{ form_data['source_name'] }}"/><BR>
<LABEL FOR="start_chapter">Start Chapter: </LABEL>
<INPUT TYPE="number" NAME="start_chapter" VALUE="{{ form_data['start_chapter'] }}" READONLY/>&nbsp;&nbsp;
<LABEL FOR="start_verse">Start Verse: </LABEL>
<INPUT TYPE="number" NAME="start_verse" VALUE="{{ form_data['start_verse'] }}" READONLY/><BR>
<LABEL FOR="end_chapter">End Chapter: </LABEL>
<INPUT TYPE="number" NAME="end_chapter" VALUE="{{ form_data['end_chapter'] }}" READONLY/>&nbsp;&nbsp;
<LABEL FOR="end_verse">End Verse: </LABEL>
<INPUT TYPE="number" NAME="end_verse" VALUE="{{ form_data['end_verse'] }}" READONLY/><BR>
Description:<BR>
<TEXTAREA NAME="description" ROWS="4" COLS="100" STYLE="overflow:auto">
{{ form_data['description'] }}</TEXTAREA><BR>
Text:<BR>
<TEXTAREA NAME="context" ROWS="4" COLS="100" STYLE="overflow:auto">
{{ form_data['context'] }}</TEXTAREA><BR>
Context:<BR>
<TEXTAREA NAME="ethic_q" ROWS="12" COLS="100" STYLE="overflow:auto">
{{ form_data['ethic_q'] }}</TEXTAREA><BR>
<TABLE class="table table-bordered border-primary">
	<TR><TD STYLE="text-align:center">Moral</TD>
	<TD STYLE="text-align:center">Immoral</TD>
	<TD STYLE="text-align:center">Amoral</TD></TR>
	<TR><TD>{{ form_data['moral_actions'] | safe }}</TD>
	<TD>{{ form_data['immoral_actions'] | safe }}</TD>
	<TD>{{ form_data['amoral_actions'] | safe }}</TD></TR>
</TABLE>
<LABEL FOR="validated">Validation Completed</LABEL>
<INPUT TYPE="checkbox" class="form-check-input"  NAME="validated" checked/>
<INPUT TYPE="hidden" VALUE=0 NAME="next_unvalidated" />
<INPUT TYPE="submit" class="btn btn-primary" value="Save"/>
<INPUT TYPE="button" class="btn btn-primary" value="Save and Advance to next unvalidated entry"
onclick="document.getElementsByName('next_unvalidated')[0].value=1;
document.getElementById('mainForm').submit();"/>
</FORM>
</TD><TD VALIGN="TOP">
{{ form_data['version'] | safe}}
</TD></TR>
</TABLE>
{% endblock %}
