{% extends "layout.html" %}
{% block title %}Edit a Scenario{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="view">Back to List of Scenarios</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <span class="navbar-text">User: {{ username }}&nbsp;&nbsp;</span>
      <li class="nav-item">
        <a class="nav-link active" href="logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<TABLE width=100%>
<H3><U>{{ form_data['msg_bar'] }}</U></H3>
<TABLE WIDTH=100%>
<TR><TD>
<FORM ID="mainForm" METHOD="POST">
<INPUT TYPE="hidden" NAME="scenario_id" VALUE="{{ form_data['scenario_id'] }}"/>
<LABEL FOR="scenario_key">scenario_key: </LABEL>
<INPUT TYPE="text" NAME="scenario_key" READONLY SIZE=30 VALUE="{{ form_data['scenario_key'] }}"/><BR>
<LABEL FOR="source_id">Scenario source: </LABEL>
<SELECT NAME="source_id">
{% for html in source_choices %}
    {{ html | safe }}
{% endfor %}
</SELECT><BR>
<LABEL FOR="start_chapter">Start Chapter: </LABEL>
<INPUT TYPE="number" NAME="start_chapter" VALUE="{{ form_data['start_chapter'] }}"/>&nbsp;&nbsp;
<LABEL FOR="start_verse">Start Verse: </LABEL>
<INPUT TYPE="number" NAME="start_verse" VALUE="{{ form_data['start_verse'] }}"/><BR>
<LABEL FOR="end_chapter">End Chapter: </LABEL>
<INPUT TYPE="number" NAME="end_chapter" VALUE="{{ form_data['end_chapter'] }}"/>&nbsp;&nbsp;
<LABEL FOR="end_verse">End Verse: </LABEL>
<INPUT TYPE="number" NAME="end_verse" VALUE="{{ form_data['end_verse'] }}"/><BR>
Description:<BR>
<TEXTAREA NAME="description" ROWS="4" COLS="100" STYLE="overflow:auto">
{{ form_data['description'] }}</TEXTAREA><BR>
Context:<BR>
<TEXTAREA NAME="context" ROWS="4" COLS="100" STYLE="overflow:auto">
{{ form_data['context'] }}</TEXTAREA><BR>
Ethical Question:<BR>
<TEXTAREA NAME="ethic_q" ROWS="12" COLS="100" STYLE="overflow:auto">
{{ form_data['ethic_q'] }}</TEXTAREA><BR>
<TABLE class="table table-bordered border-primary">
	<TR><TD STYLE="text-align:center">Moral</TD>
	<TD STYLE="text-align:center">Immoral</TD>
	<TD STYLE="text-align:center">Amoral</TD></TR>
	<TR><TD>{{ form_data['moral_actions'] | safe }}</TD>
	<TD>{{ form_data['immoral_actions'] | safe }}</TD>
	<TD>{{ form_data['amoral_actions'] | safe }}</TD></TR>
</TABLE>
<LABEL FOR="validated">Validation Completed</LABEL>
<INPUT TYPE="checkbox" class="form-check-input"  NAME="validated" checked/>
<INPUT TYPE="hidden" VALUE=0 NAME="next_unvalidated" />
<INPUT TYPE="submit" class="btn btn-primary" value="Save"/>
<INPUT TYPE="button" class="btn btn-primary" value="Save and Advance to next unvalidated entry"
onclick="document.getElementsByName('next_unvalidated')[0].value=1;
document.getElementById('mainForm').submit();"/>
</FORM>
</TD><TD VALIGN="TOP">
{{ form_data['version'] | safe}}
</TD></TR>
</TABLE>
{% endblock %}
