{% extends "layout.html" %}
{% block title %}Edit a Scenario{% endblock %}
{% block content %}
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="login">Login</a>
  </div>
</div>

<div style="padding-left:16px">
  <h2>Welcome to Moral Exemplar Database Project</h2>
  <p>We will establish a small vector database containing moral exemplars, their ethical judgments, and actions
across various contexts. The dataset will be sourced from the Bible and Christian ascetic writings. Using
Python, we will develop code for assisted data sorting and input—a task beyond the capabilities of current
AI, including reasoning models. All data will be validated by trained theologians or theology students.</p>
</div>
{% endblock %}
